body{
    margin: 0px;
    background-color: #151515;
    font-family: "Poppins", sans-serif;
}

/* Dobra 1 */

.dobra1{
   margin: 0px 10%;
  
}

#Forms{
    color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 771px;
}

#Forms input {
    width: 100%;
}

#FormHeader{
    width: 40%;
    margin: 100px 0px;

}

#FormHeader h1{
    font-size: 40px;
    margin-top: 0px;
}

#FormHeader h2{
font-size: 16px;
}

#FormImg img{
    width: 395px;
    height: 688px;
    margin-top: 83px;
}

#formid input{
    width: 368px;
    height: 50px;
    border: none;
    border-radius: 15px;
    margin: 5px 0px;
}
#submit{
    background-color: #B82028;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

/* Dobra 2*/

#Banner{
   height: 660px;
    color: #151515;
    background-color: white;
}

#BannerConteudo{
    width: 900px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#BannerImg{
    
}


/* Dobra 3 */
#Modules{
    width:900px;
    margin: 0px auto;
    color: white;
}

/* Dobra 4 */

#Beneficios{
    width:900px;
    margin: 0px auto;
    color: white;
}

/* Dobra 5 */

#footer{
    width:900px;
    margin: 0px auto;
    color: #151515;
    background-color: white;
}




